@model Arif.ToDo.Web.Areas.Admin.Models.AppUserListViewModel
@{
    string activePage = TempData["Active"]?.ToString();
}

<div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-center">
        <img src="~/img/@Model.Picture" alt="@Model.Name" class="img-thumbnail" style="height: 12rem !important;" />
    </div>
    <div class="list-group list-group-flush">
        <a asp-area="Member" asp-controller="TaskOrder" asp-action="Index" asp-route-id="@Model.Id" class="list-group-item list-group-item-action @(activePage == "taskOrder" ? "active" : "")"><i class="fas fa-folder-plus mr-2"></i>Gelen İş Emirleri</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-clipboard-check mr-2"></i>Tamamlanan İşler</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-bell mr-2"></i>Bildirimler</a>
        <a asp-controller="Profile" asp-action="Index" class="list-group-item list-group-item-action @(activePage == "profile" ? "active" : "")"><i class="far fa-user-circle mr-2"></i>Profil</a>
        <a asp-area="" asp-controller="Home" asp-action="SignOut" class="list-group-item list-group-item-action"><i class="fas fa-sign-out-alt mr-2"></i>Çıkış Yap</a>
    </div>
</div>