
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="card bg-light my-3 mx-auto d-block text-center">
                    <div class="card-header bg-info text-center font-weight-bold">Toplam Atanmayı Bekleyen Görev Sayısı</div>
                    <div class="card-body">
                        @if (ViewBag.UnassignedTaskCount > 0)
                        {
                            <h4 class="card-title">@ViewBag.UnassignedTaskCount</h4>
                            <a asp-area="Admin" asp-controller="TaskOrder" asp-action="Index" class="btn btn-info btn-block">Görüntüle</a>
                        }
                        else
                        {
                            <h4 class="card-title">Hiç Atanmayı Bekleyen Görev Bulunmamakta</h4>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-light my-3 mx-auto d-block text-center">
                    <div class="card-header bg-info text-center font-weight-bold">Toplam Tamamlanan Görev Sayısı</div>
                    <div class="card-body">
                        @if (ViewBag.CompletedTaskCount > 0)
                        {
                            <h4 class="card-title">@ViewBag.CompletedTaskCount</h4>
                            <a asp-area="Admin" asp-controller="TaskOrder" asp-action="Index" class="btn btn-info btn-block">Görüntüle</a>
                        }
                        else
                        {
                            <h4 class="card-title">Henüz Hiç Görev Tamamlanmadı</h4>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card bg-light my-3 mx-auto d-block text-center">
                    <div class="card-header bg-info font-weight-bold">Toplam Okunmamış Bildirim Sayısı</div>
                    <div class="card-body">
                        @if (ViewBag.UnreadNotificationCount > 0)
                        {
                            <h4 class="card-title">@ViewBag.UnreadNotificationCount</h4>
                            <a asp-area="Admin" asp-controller="Notification" asp-action="Index" class="btn btn-info btn-block">Görüntüle</a>
                        }
                        else
                        {
                            <h4 class="card-title">Okunmamış Bildiriminiz Yoktur</h4>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-light my-3 mx-auto d-block text-center">
                    <div class="card-header bg-info font-weight-bold">Toplam Yazılmış Rapor Sayısı</div>
                    <div class="card-body">
                        @if (ViewBag.TotalReportCount > 0)
                        {
                            <h4 class="card-title">@ViewBag.TotalReportCount</h4>
                            <a href="" class="btn btn-info btn-block">Görüntüle</a>
                        }
                        else
                        {
                            <h4 class="card-title">Henüz Hiç Rapor Yazılmamış</h4>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
