
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div id="piechart_3d" class="w-100" style=" height: 500px;"></div>
    </div>
    <div class="col-md-6">
        <div id="piechart" class="w-100" style=" height: 500px;"></div>
    </div>
</div>

@section JavaScript{

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            let topCompleter = [['Personel Adı', 'Görev Sayısı']];

            $.ajax({
                type: "Get",
                url: "./Graph/TopCompleter",
                async: false,
                success: function (data) {
                    let gelenObje = jQuery.parseJSON(data);
                    $.each(gelenObje,
                        (index, value) => {
                            topCompleter.push([value.Name, value.TaskCount]);
                        });
                }
            });

            var data = google.visualization.arrayToDataTable(topCompleter);
            var options = {
                title: 'En Çok İş Tamamlayan 5 Personel'
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }

        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart2);

        function drawChart2() {
            let topActiveTask = [['Personel Adı', 'Görev Sayısı']];
            $.ajax({
                type: "Get",
                url: "./Graph/TopActiveTask",
                async: false,
                success: function (data) {
                    let gelenObje2 = jQuery.parseJSON(data);
                    $.each(gelenObje2, (index, value) => {
                        topActiveTask.push([value.Name, value.TaskCount]);
                    });
                }
            });

            var data = google.visualization.arrayToDataTable(topActiveTask);
            var options = {
                title: 'Şu an Görevde Çalışan Personeller',
                is3D: true
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            chart.draw(data, options);
        }
    </script>
}
